body {
    background-color: papayawhip;
}

.logo {
    height: 50px;
    display: flex;
    align-items: center;
}

.font   {
    font-size: 60px;
}

p+h6 {
    color: red;
}

p {
    color: red;
}

h1 {
    color: blue;
}


h2 {
    color: blue;
}

.A1 {
    color: blue;
}

img {
    border: 3px solid blue;
    border-bottom: 3px solid red;
    border-left: 3px solid red;
}